# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import numpy as np
import pandas as pd

In [58]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
# Your code here
df.shape

(4008, 11)

In [4]:
#Getting the data type of each variable
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

I would suggest to change Customer Lifetime Value and Number of Open Complaints to floats

In [5]:
#Getting the number of unique values in each variable
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

The columns that appear to be categorical are:
Nominal: Customer, ST, GENDER, Policy Type, Vehicle Class
Ordinal: Education, Customer Lifetime Value, Number of Open Complaints

The columns that appear to be numerical are:
Income, Monthly Premium Auto, Total Claim Amount

In [7]:
# Identifying data types of columns
for column in df.columns:
    if pd.api.types.is_numeric_dtype(df[column]):
        print("Range of values for", column, ":", df[column].min(), "-", df[column].max())
    else:
        unique_values = df[column].unique()
        print("Unique values of", column, ":", unique_values)

Unique values of Customer : ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values of ST : ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values of GENDER : [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values of Education : ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values of Customer Lifetime Value : [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Range of values for Income : 0.0 - 99960.0
Range of values for Monthly Premium Auto : 61.0 - 35354.0
Unique values of Number of Open Complaints : ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values of Policy Type : ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values of Vehicle Class : ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Range of values for Total Claim Amount : 0.382107 - 2893.239678

I can see that Customer is the ID of each customer
ST is the state in USA
GENDER has a typo and should only have to unique values, either F and M or Male and Female
Education has the education level of the customer, from High School or Below to Doctor, and it has NAN
Customer Lifetime Value are % and it also is empty in some rows
Income ranges between 0 and 99960
Monthly Premium Auto ranges from 61 to 35354
Number of Open Complaints has a strange form of data, not sure how to interpret it
Policy Type has the type of insurance the customer has
Vehicle Class has the different types of cars
Total Claim Amount ranges from 0.382107 to 2893.239678

In [8]:
df.describe(include = "float")

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [12]:
mode_Income = df['Income'].mode()
mode_Income

0    0.0
Name: Income, dtype: float64

In [13]:
mode_MonthlyPremiumAuto = df['Monthly Premium Auto'].mode()
mode_MonthlyPremiumAuto

0    65.0
Name: Monthly Premium Auto, dtype: float64

In [14]:
mode_TotalClaimAmount = df['Total Claim Amount'].mode()
mode_TotalClaimAmount

0    321.6
Name: Total Claim Amount, dtype: float64

mean, median, mode, standard deviation, and quartiles

Regarding the Income of the customers, its mean is 39295.701214, its median is 36234, this is the middle value of income, and the mode is 0, which means that 0 is the income that occurs most often in this data set. The standard deviation is 30469.427060, which means that the income variates in 30469.427060 from the mean. 25% of the customers have a income of until 14072, 50% receive 36234 or less, 75% receive up to 64631, and 100% receive 99960 or less.

Regarding the Monthly Premium Auto, its mean is 193.23436, its median is 83, this is the middle value of Monthly Premium Auto, and the mode is 65, which means that 65 is the Monthly Premium Auto that occurs most often in this data set. The standard deviation is 1601.190369, which means that the Monthly Premium Auto variates in 1601.190369 from the mean. 25% of the customers have a Monthly Premium Auto of until 68, 50% of 83 or less, 75% up to 109.5, and 100% of 35354 or less.

Regarding the Total Claim Amount, its mean is 404.986909, its median is 354.729129, this is the middle value of Total Claim Amount, and the mode is 321.6, which means that 321.6 is the Total Claim Amount that occurs most often in this data set. The standard deviation is 293.027260, which means that the Total Claim Amount variates in 293.027260 from the mean. 25% of the customers have a Total Claim Amount of until 202.157702, 50% of 354.729129 or less, 75% up to 532.8, and 100% of 2893.239678 or less.

In [15]:
df.describe(include = "object")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

There are 1071 unique customers, in 8 different states of USA, the state with more customers is Oregon. The level of education more frequent between customers is bachelor, but there are other 5 diferent levels of education. 1/0/00 is the most common number of complaints, personal auto is the most common policy type and four-door car is the most common between customers.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [31]:
# Your code here

# Calculating the counts for each unique value in the "ST" column
location_counts = df["ST"].value_counts()

# Creating a DataFrame from the value counts and set the index name
result_df = pd.DataFrame({'Unique Locations': location_counts.index, 'Location Counts': location_counts.values})
result_df.set_index('Unique Locations', inplace=True)

print(result_df)
result_df[-5:]

                  Location Counts
Unique Locations
Oregon                        320
California                    211
Arizona                       186
Cali                          120
Nevada                         98
Washington                     81
WA                             30
AZ                             25

                  Location Counts
Unique Locations
Cali                          120
Nevada                         98
Washington                     81
WA                             30
AZ                             25

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [36]:
# Your code here

policies_counts = df["Policy Type"].value_counts()

result1_df = pd.DataFrame({'Unique Policy Type': policies_counts.index, 'Policy Type Counts': policies_counts.values})
result1_df.set_index('Unique Policy Type', inplace=True)

print(result1_df)
result1_df.idxmax()

                    Policy Type Counts
Unique Policy Type
Personal Auto                      780
Corporate Auto                     234
Special Auto                        57

Policy Type Counts    Personal Auto
dtype: object

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [60]:
# Your code here

# Filter rows for Personal Auto policies
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']

# Filter rows for Corporate Auto policies
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Calculating the mean for Personal Auto policies
personal_auto_mean = personal_auto_df['Policy Type'].count()

# Calculating the mean for Corporate Auto policies
corporate_auto_mean = corporate_auto_df['Policy Type'].count()

print("Mean for Personal Auto policies:", personal_auto_mean)
print("Mean for Corporate Auto policies:", corporate_auto_mean)

Mean for Personal Auto policies: 780
Mean for Corporate Auto policies: 234

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [62]:
# Your code here

# Calculate the 75th percentile of the policy claim amount
claim_amount_75th_percentile = df["Total Claim Amount"].quantile(0.75)

# Filter the DataFrame to select rows where the policy claim amount is greater than the 75th percentile
high_claim_customers_df = df[df["Total Claim Amount"] > claim_amount_75th_percentile]

# Display information about customers with a policy claim amount greater than the 75th percentile
print(high_claim_customers_df.head())

   Customer          ST GENDER Education Customer Lifetime Value   Income  \
1   QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2   AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17  OE15005        Cali    NaN   College              394524.16%  28855.0
23  TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26  US89481  California    NaN  Bachelor              394637.21%      0.0

    Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                   94.0                    1/0/00   Personal Auto
2                  108.0                    1/0/00   Personal Auto
17                 101.0                    1/0/00   Personal Auto
23                  73.0                    1/3/00  Corporate Auto
26                 111.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
17            SUV          647.442031
23  Four-Door Car          554.376763
26  Four-Door Car          799.200000

In [64]:
# Calculating statistics
high_claim_customers_df.describe(include = "all")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,264,264,238,264,264,264.000000,264.000000,264,264,264,264.000000
unique,264,7,5,5,256,NaN,NaN,6,3,6,NaN
top,QZ44356,Oregon,F,Bachelor,578018.22%,NaN,NaN,1/0/00,Personal Auto,SUV,NaN
freq,1,90,115,85,3,NaN,NaN,206,191,101,NaN
mean,NaN,NaN,NaN,NaN,NaN,23677.344697,165.193182,NaN,NaN,NaN,782.228263
std,NaN,NaN,NaN,NaN,NaN,27013.483721,623.930992,NaN,NaN,NaN,292.751640
min,NaN,NaN,NaN,NaN,NaN,0.000000,63.000000,NaN,NaN,NaN,537.600000
25%,NaN,NaN,NaN,NaN,NaN,0.000000,99.000000,NaN,NaN,NaN,606.521741
50%,NaN,NaN,NaN,NaN,NaN,18807.000000,114.000000,NaN,NaN,NaN,679.597985
75%,NaN,NaN,NaN,NaN,NaN,42423.750000,133.250000,NaN,NaN,NaN,851.400000
max,NaN,NaN,NaN,NaN,NaN,99316.000000,10202.000000,NaN,NaN,NaN,2893.239678